@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    width: 100%;
    height: 110px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

header img{
    width: 120px;
}

header h1{
    font-family: "Playfair Display";
    color: white;
    font-size: 28px;
}

header a{
    color: white;
    font-family: "Montserrat";
}

/* SECCIÓN PRINCIPAL */
#ContePrincipal{
    display: flex;
    justify-content: right;
    padding: 160px;
    gap: 60px;
    background-color: white;
    background-image: url("../imagenes/Captura de pantalla 2026-04-08 123425.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
}

/* TEXTO */
.contenedores{
    max-width: 500px;
}

.contenedores h2{
    font-family: "Playfair Display";
    font-size: 36px;
    margin-bottom: 20px;
}

.contenedores p{
    font-family: "Montserrat";
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}


.contenedoresImg img {
    width: 350px;
}


footer {
   background: black;
   color: white;
   margin-top: 40px;
   padding: 15px;
   display: flex;
   justify-content: space-between;
}
footer img {
   margin-left: 2px;
   width: 40px;
   height: 40px;
}

.redes {
    display: flex;
    justify-content: space-around;
} 

nav a {
   background: white;
   color: black;
   padding: 8px 15px;
   margin-left: 10px;
   text-decoration: none;
   font-size: 14px;
}